<footer role="contentinfo">
    <section class="container container-lg-height container-md-height">
        <div class="row row-lg-height row-md-height">

            <div class="col-lg-4 col-md-4 col-md-height col-lg-height">
                @*<a href="http://www.environ.ie/en/" target="_blank">
                    <img src="@Url.Content("~/images/doe.png")" alt="Department of the Environment, Community and Local Government">
                </a>*@
            </div>
            <div class="col-lg-4 col-md-4 col-md-height col-lg-height col-middle" style="text-align: center">
                <a href="http://test.test.ie" target="_blank">Estream</a> - Murrintown, Co. Wexford <br />
                <a href="http://test.test.ie" target="_blank">Contact Us</a> | <a href="http://test.test.ie" target="_blank">Disclaimer</a>
            </div>
            <div class="col-lg-2 col-md-2 col-md-height col-lg-height">

            </div>
            <div class="col-lg-2 col-md-2 col-md-height col-lg-height">
                @*<a href="http://www.epa.ie" target="_blank">
                    <img src="@Url.Content("~/images/epa.png")" alt="Environmental Protection Agency">
                </a>*@
            </div>

        </div>
    </section>
</footer>